a {
  display: block;
  border: 1px solid;
  border-radius: 10px;
  height: 40px;
  width: 30%;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-left: 10px;
  background-color: gray;
  color: white;
  text-decoration: none;
  font-family: monospace;
}
#div {
  border: 1px solid;
  border-radius: 10px;
  height: 40px;
  width: 30%;
  padding-top: 15px;
  padding-left: 10px;
  background-color: gray;
  color: white;
  font-family: monospace;
}